
<div class="bootstrap">
  <div class="container">
<mat-toolbar >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span><a href=" ">Blog_App</a></span>
    <span class="divider"></span>
    
    <button  mat-flat-button color="pink" style="margin-left: 10px;" ><a style="text-decoration-color: blueviolet;" routerLink="/blog-dash/category/0">MyBlogs</a></button>
    <button  mat-flat-button color="pink" style="margin-left: 10px;" ><a [routerLink]="['login']">Write</a></button>
    <button  mat-flat-button color="pink" *ngIf="!login.isLoggedIn()" style="margin-left: 10px;"><a [routerLink]="['signup']">Singup</a></button>
    <button  mat-flat-button color="pink" *ngIf="!login.isLoggedIn()" style="margin-left: 10px;"><a [routerLink]="['login']">Login</a></button>
   

    <button mat-flat-button color="pink"  (click)="logout()" *ngIf="login.isLoggedIn()" style="margin-left: 10px;">Logout</button>
    <button mat-flat-button color="pink" class="ml20" *ngIf="login.isLoggedIn()" style="margin-left: 10px;">{{login.getUser().name}} </button> 
   

</mat-toolbar>
</div>
</div>