<div class="bootstrap-wrapper">
<div class="container">
   <h1>Welcome to the Blog API</h1>
   <div class="row">
      <div class="img-container col-md-12">
         <button mat-button color="primary" (click)="btnClick()">
            Let's Blogging
         </button>
         </div>

   </div>

  
  
   <button mat-button color="primary" (click)="btnClick()">
      Let's Blogging
   </button>
</div>
</div>

<div class="bootstrap-wrapper">
<div class="container-fluid">
   <div class="row">
      <div class="footer col-md-12"> </div>
   </div>

   <div class="row">
      <div class="footerone col-md-4">
         <li>Career</li>
         <li>ContactUs</li>
         <li>Privacy</li>
      </div>   

      
      <div class="footertwo col-md-4 ">
         <li>Career</li>
         <li>ContactUs</li>
         <li>Privacy</li>
      </div>      


     
      <div class="footerthree col-md-4">            
         <li>Career</li>
         <li>ContactUs</li>
         <li>Privacy</li>
      </div>

      </div>

</div>
</div>


  
     





