<div class="container">
    
    <mat-card>
      <div class="container text-center">
          <!--<img src="../../../assets/register.png" alt=""> -->
      </div>
      <h1 class="text-center">Resgiter</h1>
      <!--{{user | json }}   -->
      
<!---------------------------Register Form-------------------------------------------------------------------------->
 

     <!-- {{ data | json }} -->

      <form (ngSubmit)="doSubmit()">

          <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input required [(ngModel)]="data.name" type="text" name="name" matInput placeholder="Name*">                            
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input required [(ngModel)]="data.email" type="text" name="email" matInput placeholder="UserName/Email*">                            
          </mat-form-field>
        
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input required [(ngModel)]="data.pass" type="password" name="password" matInput placeholder="Password*">                                         
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>About</mat-label>
            <input required [(ngModel)]="data.about" type="text" name="about" matInput placeholder="about*">                     
          </mat-form-field>

                            
          
          <div class="container text-center">
              <button type="submit" mat-raised-button color="primary" >Signup</button>
              <button type="reset" mat-raised-button color="accent" style="margin-left: 20px;">Reset</button>

          </div>

         
           


      </form>
  </mat-card>


</div>
