<div class="container">
    <div class="card">
      
        <form (ngSubmit) ="doSubmit()">

        <h1>Signup..</h1>
        {{data | json}}
        <mat-form-field class="fields" appearance="outline">
            <mat-label>Name</mat-label>
            <input name="name" [(ngModel)]="data.name"  matInput>
          </mat-form-field>

        <mat-form-field class="fields" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" [(ngModel)]="data.email" matInput required="required">
          </mat-form-field>

          <mat-form-field class="fields" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" name="password" [(ngModel)]="data.password" matInput required="required">
          </mat-form-field>

          <mat-form-field class="fields" appearance="outline">
            <mat-label>About</mat-label>
            <input name="about" [(ngModel)]="data.about" matInput>
          </mat-form-field>

        <div class="text-center">
          <button type="submit" mat-stroked-button>Signup</button>
          <button type="reset"  mat-stroked-button>Reset</button>
        </div>
    </form>

    </div>


</div>
