<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <!-- We can also print post here  -->
            <div class="row">
                <div class="col-md-12 mt10">
                   <mat-card>
                    <form (ngSubmit)="ForgetPassForm()" >
                        <div class="row">
                            <div class="col-md-8">
                            <h1>OTP</h1>
                            <mat-form-field class="full-width" appearance="outline">
                                
                                <input required [(ngModel)]="email" type="email" name="email" matInput placeholder="Enter your Email*">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                         </div>
                         <div class="col-md-3 mt10 text-center">
                            <button type="submit" mat-raised-button color="primary" mat-list-icon> <mat-icon>ok</mat-icon>Send</button>
                        </div>
                        </div>
                        </form>
                        </mat-card>
                        </div>
                        </div>
                        </div>
                        </div>
