.example-header-image 
{
    background-image: url('../../../assets/pro-images/img1.jpg');
    background-size: cover;
}

  .post-con-img
{
  width:100%;
  height: 25%;
  
}

.newPostBtn
{
    background-color: aqua;
    width: 100%;

}

.error-img
{
  background-image: url('../../../assets/pro-images/error-img.png');
  width: 100%;
  height: 70%;

}