<div class="bootstrap">
    <div class="container-img">
        <div class="row">
            <div class="first-img col-md-12">

            </div>

        </div>
    </div>
</div>

<div class="bootstrap-wrapper mt20">
    <div class="container">
       
        <div class="row ">

            <!-- Hiren's section -->
            <div class="hiren col-md-6">

                <mat-card class="h-card text-center">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image "></div>
                     
                    </mat-card-header>
                    <mat-card-title style="margin-top: 10px;">Hiren Devmurari</mat-card-title>
                    <mat-card-subtitle>Junior Java Developer</mat-card-subtitle>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                      <p>
                        I am a Junior Java Developer, I am freelancer developer who believes in punctuality, dicipline and dedication to Software Develooper. Here I have developed some of my pet projects using Java, Spring Boot, Angular, Html, CSS, Bootstrap.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>

            </div>
          
             <!-- Diga's section -->
            <div class="digo col-md-6">
              
              <mat-card class="d-card text-center">
                <mat-card-header>
                  <div mat-card-avatar class="d-header-image "></div>
                 
                </mat-card-header>
                <mat-card-title style="margin-top: 10px;">Digvijay Patel</mat-card-title>
                <mat-card-subtitle>Software Developer</mat-card-subtitle>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                  <p>
                   I am freelancer developer who believes in punctuality, dicipline and dedication to Software Develooper. Here I have developed some of my pet projects using Java, Spring Boot, Angular, Html, CSS, Bootstrap.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>

            </div>

        </div>

        
    </div>
</div>
