<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin-dash/"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/admin-dash/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/admin-dash/view-list-categories"><mat-icon mat-list-icon>list</mat-icon>Categories</button>
        <button mat-list-item routerLink="/admin-dash/add-new-category"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add-Category</button>
        <button mat-list-item routerLink="/admin-dash/view-list-posts"><mat-icon mat-list-icon>fiber_new</mat-icon>Post</button>
        <button mat-list-item routerLink="/admin-dash/add-new-post"><mat-icon mat-list-icon>add</mat-icon>Add-Post</button>
        <button mat-list-item routerLink="#"><mat-icon mat-list-icon>logout</mat-icon>Logout</button>


    </mat-action-list>



</mat-card>