
<div class="container-fluid">
    <!-- We can also print post here  -->
        <div class="row col-md-6 offset-md-3 mt10">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>User's name</mat-card-title>
            </mat-card-header>
           
            <mat-card-content>
              <p>
               Comment's content
              </p>
            </mat-card-content>
            </mat-card>

            <!-- This is for the adding new comment -->
            <div class="row">
                <div class="col-md-6 offset-md-3 mt10">
                   <mat-card>
                    <form  >
                        <div class="row">
                            <div class="col-md-4">
                            <mat-form-field class="full-width" appearance="outline">
                                
                                <input required  type="text" name="searchKey" matInput placeholder="Search Post by keyword*">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                         </div>
                         <div class="col-md-3 mt10">
                            <button type="submit" mat-raised-button color="primary" mat-list-icon> <mat-icon>search</mat-icon></button>
                        </div>
                          <button mat-button mat-dialog-close>Cancel</button>
                        </div>
                    </form>          
                   </mat-card>
        </div>
        </div>
        </div>
        </div>
        
