<div class="bootstrap-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mt10">
                <mat-card>
                    <form (ngSubmit)="ForgetPassResetForm()">
                        <div class="row text-center">
                            <div class="fields col-md-10">
                                <!-- <h1>OTP</h1> -->
                                <mat-form-field class="full-width" appearance="outline">
                                    <input required [(ngModel)]="password" type="password" name="password" matInput
                                        placeholder="Enter your New Password*">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="outline">
                                    <input required [(ngModel)]="retypePass" type="password" name="retypePass" matInput
                                        placeholder="Re-Enter your New Password*">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>

                            </div>
                            <div class="save-button col-md-3 mt10">
                                <button type="submit" mat-raised-button color="primary" mat-list-icon>
                                    Save</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>