<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <!-- We can also print post here  -->
            <div class="row">
                <div class="col-md-12 mt10">
                   <mat-card>
                    <h1>OTP</h1>
                    <form (ngSubmit)="otpForm()" >
                        <div class="row">                        
                            
                            <div class="col-md-8 ">
                            <mat-form-field class="full-width" appearance="outline">
                                
                                <input required [(ngModel)]="otp" type="text" name="otp" matInput placeholder="Enter OTP from Email*">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                           </div>
                            <div class="col-md-3 text-center mt10">
                                <button type="submit" mat-raised-button color="primary" mat-list-icon>confirm</button>
                            </div>
                        </div>
                        
                        </form>
                        </mat-card>
                        </div>
                        </div>
                        </div>
                        </div>
                        