<mat-card>
    <h1 class="text-center">Add New Post</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="frmCls col-md-6 offset-md-3">
    
                    <!--{{category | json}} -->
                <form #postForm="ngForm"   (ngSubmit)="addPostForm(postForm)">
    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input required [(ngModel)]="post.poTitle"  type="text" name="poTitle" matInput placeholder="Post-Title*">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Image</mat-label>
                        <input required [(ngModel)]="post.poImageName"  type="text" name="poImageName" matInput placeholder="Insert Image*" > 
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                            
                    </mat-form-field>

                    <!-- <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Content</mat-label>
                        <textarea required [(ngModel)]="post.poContent"  name="poContent" type="text" matInput placeholder="Post-Content*" rows="7"></textarea>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                            
                    </mat-form-field> -->

                    <ckeditor [editor]="Editor"  data="<h2>Write your Blog</h2>" name="poContent" [(ngModel)]="post.poContent"></ckeditor>

                    <br />

                    <mat-form-field appearance="fill" class="full-width mt20">
                        <mat-label>Categories</mat-label>
                        <mat-select name='category' required [(ngModel)]="post.category.coId">
                          <mat-option *ngFor="let c of categories" [value]="c.coId">
                            {{c.coName}}
                          </mat-option>
                        </mat-select>               
                     </mat-form-field>
    
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" >Add-New-Post</button>
                        <button type="reset" mat-raised-button color="accent" style="margin-left: 20px;">Reset</button>
    
                    </div>
    
    
                </form>
    </div>
                <!-- This is the file selecting area -->
                <div class="imgView col-md-6  offset-md-3 mt20">
                    <div class="fileAttachment">

                        <div class="dropzone mt10" appDrag (files) = "fileDropped($event)">
                            <div class="browsearea">
                                <div class="browse_area">
                                   Drag and Drop here
                                    <a class="browes_button" (click)="selectFile.click()">browse</a> a file
                                </div>
                            </div>
                        </div>

                        <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)">
                    </div>

                    <div class="imgPrw">
                        <div class="row2">
                            <mat-grid-list cols="4" rowHeight="1:1">
                              <mat-grid-tile *ngFor="let file of post.postImages let i = index">
                                  <div class="imgConta" style="position: relative;">
                                       <span class="btn-remove-img" (click)="removeImages(i)">x</span>
                                      <img [src]="file.url" width="100px" height="100px">
                                  </div>
                              </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                     </div>

                </div>
     </div>
    </div>

    
    </mat-card-content>
</mat-card>